<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #291528;
            font-family: 'Noto Sans', sans-serif;
            color: aliceblue;
        }
        .result {
            margin-bottom: 5px;
            flex-direction: row;
            flex-wrap: nowrap;
            width: 200px;
            height: 200px;
            position: relative;
            text-align: center;
            margin: 15px;
            box-shadow: 0 0 10px black;
        }
        .cover {
            width: 100%;
            height:100%;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            background: linear-gradient(0deg, rgb(0 0 0 / 100%) 0%, rgb(0 0 0 / 75%) 50%, rgba(0,224,255,0) 100%);
            height: 100%;
            width: 100%;
        }
        .overlayText {
            width: 100%;
            bottom: 0;
            position: absolute;
            padding: 10px;
        }
        .icon {
            position: absolute;
            top: 0;
            padding: 5px 10px 10px 5px;
            background: aliceblue;
            border-radius: 0 0 50%;
            font-size: 2em;
        }
        .albumTitle {
            padding: 0 15px;
        }

        a {
            color:aliceblue;
            text-decoration: none;
            display: block;
        }
        a::after {
            content: '💿';
        }
    </style>
</head>

<body>
    <div class="container">
        <h2> Drome Compare </h2>
        <form action="/" method="GET">
            <input type="text" name="playlist" placeholder="Playlist url"> <button> Compare </button>
        </form>
    </div>
    <div>
        <h2>Results for <%= playlistName %></h2>
        <h4><%= results.length %> albums based on <%= totalTracks %> tracks - <%= results.length - matchedCount %> unmatched</h4>
        <div style="display:flex;justify-content: flex-start;flex-wrap: wrap;">
            <% results.forEach(result => { %>
                <div class="result <%- result.matched ? 'matched' : 'unmatched' %>">
                    <img class="cover" src="<%= result.image %>" alt="">
                    <div class="overlay">
                        <div class="overlayText">
                            <div class="albumTitle"><%= result.albumName %></div>
                            <% if (result.matched) { %>
                                <% if (result.matched.album != result.albumName ) { %>
                                    <%= result.matched.album %>
                                <% } %>
                                <a target="_blank" href="https://listen.minzkraut.com/app/#/album/<%= result.matched.id %>/show"><%= result.albumTotal %> / <%= result.matched.songCount %></a>
                            <% } else { %>
                                <div>No Match</div>     
                            <% } %>
                        </div>
                    </div>
                    <div class="icon"><%= result.icon %></div>
                </div>
            <% });%>
        </div>
    </div>
    <div>
        <h2>Debug</h2>
        <p>submitted purl <%= purl %></p>
        <p>subsonic endpoint</p>
        <h4>Api result Spotify:</h4>
        <pre>
            <%= JSON.stringify(spotifyRes, null, 2) %>
        </pre>
    </div>
</body>

</html>