<div id="resultContainer">
    <div id="albumContainer">
        <% results.forEach(result => { %>
            <div class="result <%- result.matched ? 'matched' : 'unmatched' %>">
                <img class="cover" src="<%= result.image %>" alt="">
                <div class="overlay">
                    <div class="overlayText">
                        <div class="albumTitle"><%= result.albumName %></div>
                        <% if (result.matched) { %>
                            <% if (result.matched.album != result.albumName ) { %>
                                <%= result.matched.album %>
                            <% } %>
                            <a target="_blank" href="https://listen.minzkraut.com/app/#/album/<%= result.matched.id %>/show"><%= result.albumTotal %> / <%= result.matched.songCount %></a>
                        <% } else { %>
                            <div>No Match</div>     
                        <% } %>
                    </div>
                </div>
                <div class="icon"><%= result.icon %></div>
            </div>
        <% });%>
    </div>
    <div id="sideContainer">
        <div id="statsContainer">
            <h2>Results for <%= playlistName %></h2>
            <p class="withIcon"><span class="icon">💿</span><%= results.length %> albums on this page <br/>
                based on <%= itemsPerPage %> tracks (<%= totalTracks %> total)</p>
            <div class="flexList">
                <span>✔️<%= confirmedCount %> Confirmed on this page</span>
                <span>❔<%= unconfirmedCount %> Unconfirmed on this page</span>
                <span>⚠️<%= mismatchCount %> With track mismatches on this page</span>
                <span>❌<%= missingCount %> Missing on this page</span>
            </div>
        </div>
        <div class="pagination">
            <p>Page <%= currentPage %> / <%= Math.ceil(totalTracks / itemsPerPage) %></p>
            <% if (currentPage > 1) { %>
                <form action="/" method="GET">
                    <input type="hidden" id="purl" name="playlist" value="<%= locals.purl ? purl : '' %>">
                    <input type="hidden" name="page" value="<%= (currentPage-1) %>">
                    <button type="submit">Previous Page</button>
                </form>
            <% } %>
            <% if (currentPage < Math.ceil(totalTracks / itemsPerPage)) { %>
                <form action="/" method="GET">
                    <input type="hidden" id="purl" name="playlist" value="<%= locals.purl ? purl : '' %>">
                    <input type="hidden" name="page" value="<%= (currentPage+1) %>">
                    <button type="submit">Next Page</button>
                </form>
            <% } %>
        </div>
    </div>
</div>
